.navbar {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    margin: auto;
    margin-top: 8px;
}

.navbar strong {
    font-size: 28px;
    font-weight: lighter;
}

.navbar a {
    margin-left: 22px;
    font-size: 14px;
    font-weight: 400;
}