.about {
    min-height: 90vh;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    &__story {
        margin-top: 20px;
        width: 50%;
        text-align: center;
        width: 55%;
        & h2 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 35px;
            margin-bottom: 55px;
            color: $color-tertiary;
        }
        & p {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
    &__background {
        background-color: $color-tertiary;
        width: 400px;
        height: 600px;
        border-radius: 5%;
        position: relative;
    }
    &__picture {
        position: absolute;
    }
}

@include laptop {
    .about {
        min-height: 90vh;
        align-items: flex-start;
        margin-top: 60px;
        &__story {
            margin-right: 10px;
            h2 {
                font-size: 30px;
            }
            p {
                font-size: 17px;
            }
        }
        &__picture {
            max-width: 350px;
        }
        &__background {
            margin-top: 20px;
            max-width: 350px;
            height: 400px;
        }
    }
}