.header {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  &__picture {
    width: 530px;
  }
}

.header__text {
  position: absolute;
  left: 150px;
  bottom: 150px;
    &__presentation {
      margin-bottom: 8%;
      & h1 {
        font-size: 35px;
        font-weight: 500;
        & em {
          font-style: normal;
          color: $color-tertiary;
        }
      }
      & h2 {
        font-size: 24px;
        font-weight: 400;
      }
    }
    &__quote { 
      font-size: 24px;
      font-weight: 500;
    }
  }

  @include laptop {
    .header__text {
      h1 {
        font-size: 31px;
      }
      h2 {
        font-size: 19px;
      }
      &__quote { 
        font-size: 19px;
      }
    }
    .header__picture {
      max-width: 500px;
    }
  }

  @include laptop_small {
    .header__text {
      left: 130px;
      bottom: 120px;
      h1 {
        font-size: 29px;
      }
      h2 {
        font-size: 17px;
      }
      &__quote { 
        font-size: 17px;
      }
    }
    .header__picture {
      max-width: 470px;
    }
  }

  @include tablet {
    .header {
      position: static;
      flex-direction: column-reverse;
      align-items: center;
      width: 85%;
      margin: auto;
      &__picture {
        max-width: 40%;
      }
      &__text {
        position: static;
        &__presentation {
          text-align: center;
        }
      }
    }
  }