.statistics {
    width: 85%;
    margin: auto;
    margin-top: 28px;
    h2 {
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        color: $color-tertiary;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &-explanation {
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        &__card {
            width: 230px;
            p {
                font-weight: 400;
            }
            h3 {
                font-weight: 700;
                margin-bottom: 9px;
            }
        }
    }
}

@include laptop {
    .statistics {
        h2 {
            font-size: 30px;
            margin-bottom: 28px;
        }
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 22px;
        }
    }
}